<web-app version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>pl.com.mcg.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>testService</servlet-name>
		<servlet-class>pl.com.mcg.server.TestServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>stateless-sbs</servlet-name>
		<servlet-class>pl.com.mcg.server.GwtStatelessSBSServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>stateful-sbs</servlet-name>
		<servlet-class>pl.com.mcg.server.GwtStatefulSBSServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>stateful-sbs</servlet-name>
		<url-pattern>/ClientSample/stateful</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>stateless-sbs</servlet-name>
		<url-pattern>/ClientSample/stateless</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/ClientSample/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>testService</servlet-name>
		<url-pattern>/ClientSample/testService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ClientSample.html</welcome-file>
	</welcome-file-list>
</web-app>